.todo-add {
  //background-color: #cccccc;
  margin-bottom: 10px;
}
.todo-action {
  margin: 0 auto;
  display: block;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
