<div class="todo">
  <form >
    <div class="todo-action">
      <mat-form-field >
        <mat-label>Title</mat-label>
        <input matInput placeholder="Ex. Pizza" [value]="dto.title">
      </mat-form-field>
    </div>
    <mat-list class="todo-add">
      <mat-list-item *ngFor="let item of dto.items">
        <mat-form-field class="example-full-width">
          <input matInput [value]="item.text">
          <mat-icon (click)="deleteItem(item)" matSuffix>delete_outline</mat-icon>
        </mat-form-field>
      </mat-list-item>
    </mat-list>
    <div class="todo-add">
    <button type="button"
            mat-fab
            aria-label="Example icon-button with a heart icon"
            (click)="addTodoItem()">
      <mat-icon>add</mat-icon>
    </button>
    </div>
  </form>
</div>
