.todo {
  min-width: 400px;
  max-width: 600px;
  background-color: #e6ebf1;
}
.todo-add {
  //background-color: #cccccc;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.todo-action {
  display: flex;

}
