<h1>
  {{data.profile.companyName}}
  <a href="{{'https://finance.yahoo.com/quote/' + data.symbol}}">
    <span class="material-icons">link</span>
  </a>
</h1>
<div class="modal-content">
  <div class="profile-header">
    <img src="{{data.profile.image}}" alt="{{data.profile.companyName}}">
    <div [textContent]="data.profile.companyName"></div>
    <div *ngIf="data.profile.ceo">Ceo: {{data.profile.ceo}}</div>
    <a href="{{data.profile.website}}">{{data.profile.website}}</a>
    <div class="description">
      <div [textContent]="data.profile.description" *ngIf="!collapsed"></div>
      <button type="button" (click)="collapsed = !collapsed">Toggle Description</button>
    </div>
  </div>
  <div class="preference">
    <div for="price">Price</div>
    <div name="price" id="price" [textContent]="data.price"></div>
  </div>
  <div class="preference">
    <label for="changesPercentage">Changes</label>
    <span name="changesPercentage" id="changesPercentage" [textContent]="data.profile.changesPercentage"></span>
  </div>
  <div class="preference">
    <label for="exchange">Market</label>
    <span name="exchange" id="exchange" [textContent]="data.profile.exchange"></span>
  </div>
  <div class="preference">
    <label for="range">Range</label>
    <span name="range" id="range" [textContent]="data.profile.range"></span>
  </div>
  <div class="preference">
    <label for="industry">Industry</label>
    <span name="industry" id="industry" [textContent]="data.profile.industry"></span>
  </div>
  <div class="preference">
    <label for="sector">Sector</label>
    <span name="sector" id="sector" [textContent]="data.profile.sector"></span>
  </div>
</div>


